<div class="container mt-4">
    <div class="row">
        @foreach (var contract in Contracts)
        {
            <div class="col-md-4 mb-4">
                <MudCard Outlined="true" Elevation="25" Style="height: 800px;">
                    <MudCardHeader><MudText Typo="Typo.h6">Borrowing @contract.Item.Name from @contract.Owner.FirstName</MudText></MudCardHeader>
                    <MudCardMedia Height="200" Image="@contract.Item.Pictures.FirstOrDefault().Url"/>
                    <MudTimeline TimelinePosition="TimelinePosition.Start" Modifiers="true" Class="my-4">

                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="2">
                            <TimeLineCard Contract="contract"/>
                        </MudTimelineItem>

                        @*                         <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Request</MudText>
                                    <MudText Typo="Typo.body2">You asked to borrow @contract.Item.Name from @contract.Owner.FirstName from @contract.StartTime to @contract.EndTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Reply</MudText>
                                    <MudText Typo="Typo.body2">@contract.Owner.FirstName accepted your request.</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Default" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Pick up</MudText>
                                    <MudText Typo="Typo.body2">Remember to pick up @contract.Item.Name from @contract.Owner.FirstName on @contract.StartTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Default" Elevation="2">
                            <MudCard Outlined="true" Elevation="25" Class="invisible">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Return</MudText>
                                    <MudText Typo="Typo.body2">Be sure to return @contract.Item.Name to @contract.Owner.FirstName on @contract.EndTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem> *@
                    </MudTimeline>
                </MudCard>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Contract>? Contracts { get; set; }

    // TODO: Make TimeLineItem Color.Info on the most recent updated milestone, but Color.Default otherwise
    // TODO: Make Cards invisible as long as they have no update (Same conditions as above, but each card can have more conditions and updates/statuses for the same milestone)

}