@page "/borrowing-timeline"
@inject IClient _client;

@if (!_requests.Any())
{
    <p><em>Loading...</em></p>
}

<div class="container mt-4">
    <div class="row">
        @foreach (var request in _requests)
        {
            <div class="col-md-4 mb-4">
                <MudCard Outlined="true" Elevation="25" Style="height: 800px;">
                    <MudCardHeader><MudText Typo="Typo.h6">Borrowing @request.Item.Name from @request.Owner.FirstName</MudText></MudCardHeader>
                    <MudCardMedia Height="200" Image="@request.Item.Pictures.FirstOrDefault().Url"/>

                    <MudTimeline TimelinePosition="TimelinePosition.Start" Modifiers="true" Class="my-4">
                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Request</MudText>
                                    <MudText Typo="Typo.body2">You asked to borrow @request.Item.Name from @request.Owner.FirstName from @request.StartTime to @request.EndTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Info" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Reply</MudText>
                                    <MudText Typo="Typo.body2">@request.Owner.FirstName accepted your request.</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Default" Elevation="2">
                            <MudCard Outlined="true" Elevation="25">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Pick up</MudText>
                                    <MudText Typo="Typo.body2">Remember to pick up @request.Item.Name from @request.Owner.FirstName on @request.StartTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                        <MudTimelineItem Size="Size.Small" Color="Color.Default" Elevation="2">
                            <MudCard Outlined="true" Elevation="25" Class="invisible">
                                <MudCardContent>
                                    <MudText Typo="Typo.h5">Return</MudText>
                                    <MudText Typo="Typo.body2">Be sure to return @request.Item.Name to @request.Owner.FirstName on @request.EndTime</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudTimelineItem>
                    </MudTimeline>
                </MudCard>
            </div>
        }
    </div>
</div>

@code {

    private List<Contract> _requests = new List<Contract>();
    private string _tempUserId = "b2162ceb-793d-4e32-8029-ca56472dd93a"; // TODO: Send in the actual logged in user's id. Here is use 'Liza Minelli', hardcoded.

    protected override async Task OnInitializedAsync()
    {

        var result = await _client.ApiTimeLineBorrowingTimeLineAsync(_tempUserId);
        _requests = result.ToList();
    }
}
