<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex justify-content-center">
                <img src="\Images\underconstruction.png" class="img-fluid mx-auto my-auto" style="width:250px" alt="Under construction sign" />
            </div>
        </LayoutView>
    </NotFound>
</Router>