@page "/inventory"
@inject IClient _client;

<PageTitle>My inventory</PageTitle>
<h3>My inventory</h3>
<hr/>
@if(message is not null)
{
    <p class="text-danger">@message</p>
}
<div class="container">
    <div class="row">
        @if(!MyItems.Any())
        {
            <p>Loading items...</p>
        }
        else
        {
            foreach (var item in MyItems)
            {
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@item.Pictures?.FirstOrDefault()?.Url" alt="Picture of @item.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <a href="/borrowitem/?id=@item.Id" class="card-link">More...</a>
                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>




@code {
    // TODO: Add pagination serverside & clientside

    [Parameter]
    public List<Item> MyItems { get; set; } = new();

    private string? message;

    private string? ownerId = "b2162ceb-793d-4e32-8029-ca56472dd93a"; // Liza's id hardcoded

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var response = await _client.ApiItemByUserIdAsync(ownerId);
            MyItems = response.ToList();
            if (MyItems is null)
            {
                message = "No objects to load at this time";
            }
        }
        catch(Exception ex)
        {
            message = ex.Message;
        }
    }
}
